@import url('https://fonts.google.com/specimen/Open+Sans?category=Serif,Sans+Serif&vfonly=true&preview.size=12');

:root 
{
    --font: sans-serif,Lato, Helvetica;
}
body
{
    font-family: var(--font);
}

header, main, footer
{
    max-width: 1200px;
    margin: 1rem auto;
}

/*################### header #######################*/

header
{
    display: flex;
    background-color: #00AEFF;
}

#logo
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    padding-top: 5px;
    padding-left: 20px;

}

nav
{
    display: none;
}

nav a:hover 
{
	color: yellow;
	font-weight: 700;
    font-style: italic;
}

#hamburger 
{
	font-size: 1.5rem;
    margin-top: 10px;
    padding: 3px 7px 6px;
	background-color:  #053b53;
	color:black;
 	position: absolute;
	top: 1rem;
	right: 1rem;
    border:0;
}

#hamburger::before 
{
	content: "☰";
}

#hamburger.open::before 
{
	content: "X";
}

.open 
{
	display: block;
    margin: auto;
}
.open a 
{
    padding-top: 20px;
	display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
}

.invisible
{
    display: none;
}

.active::before 
{
	content: "⏰";
}

/*################### footer #######################*/

footer
{
    background-color: #00AEFF;
}

#copyright
{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color:black;
    margin-bottom: 0;
}

#lastModified
{
    color:black;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    font-style: italic;
}