*
{
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    margin: auto;
}

:root 
{
    --main_color:  #00AEFF;
    --headings_color:  green;
    --divs_color:  whitesmoke;
}

header, main, footer
{
    max-width: 1500px;
    display: block;
}

body
{
    background-color: var(--divs_color);
}

main
{
    background-color: rgb(236, 161, 161);
}

header
{
    background-color: rgb(236, 161, 161);
}

header:first-child
{
    text-align: center;
    background-color: var(--main_color);
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    color: white;
    font-size: 40px;
}

.hero
{
    background-color: var(--divs_color);
    text-align: center;
    margin-bottom: 0px;
}

img
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.data h1
{
    text-align: center;
    margin-top: 5px;
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 20px;
}

.weather h1:first-of-type
{
    margin-top: 0.5px;
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 20px;
}

.weather
{
    text-align: center;
    background-color: var(--divs_color);
    font-size: 20px;
}

.data
{
    background-color: var(--divs_color);
    font-size: 20px;
}

table
{
 margin: auto;
 font-weight: 25;
}

td:first-child
{
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

td:last-child
{
    text-align: left;
    padding-right: 5px;
}

footer
{
    background-color: var(--main_color);
}

#copyright
{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color:black;
    margin-bottom: 0px;
    font-size: 30px;
}

#lastModified
{
    color:black;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 30px;
}
