
*
{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* Head ___________________________________________________________________________*/

header
{
    background-color: #053b53;
    display:flex;
    color: white;
}

#title
{
    margin-right: auto;
    margin-left: 10px;
}

nav
{
    display: none;
}

nav a:hover 
{
	color: #f64545;
	font-weight: 700;
    font-style: italic;
}

#hamburger 
{
	font-size: 1.5rem;
	padding: 3px 7px 6px;
	background-color:  #053b53;
	color:white;
 	position: absolute;
	top: 1rem;
	right: 1rem;
    border:0;
}

#hamburger::before 
{
	content: "☰";
}

#hamburger.open::before 
{
	content: "X";
}

.open 
{
	display: block;
    margin: auto;
}
.open a 
{
    padding-top: 20px;
	display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

.invisible
{
    display: none;
}



/* MAIN ___________________________________________________________________________*/

main
{
   max-width: 800px;
    margin: 1rem auto;
}

#heading
{
    text-align: center;
}

section
{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

img
{
    width: 100%; 
    height: auto; 
    margin: .5rem;
}

/* Footer ___________________________________________________________________________*/

footer
{
    background-color:  #053b53;
}

#copyright
{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color:white;
    margin-bottom: 0;
}

#lastModified
{
    color:white;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    font-style: italic;
}